<%= form_for @poll, url: {action: "create"}, html: {class: "poll_form"} do |f| %>
  <%= f.label :title, "Poll Title" %>
  <%= f.text_field :title %><br>
  <%= f.label :owner, "Owner's Name" %>
  <%= f.text_field :owner %>
  <div class="options-fields">
    <label>Option</label>
    <input type="text" name="poll[options][]" id="poll_options-1"></input><br>
  </div>
  <button id="add-option">Add Option</button><br>
  <%= f.submit "Create" %>
<% end %>

