<h2 id ="poll-title" data-id="<%= @poll.id %>" data-closed="<%= @poll.closed %>"><%= @poll.title %></h3>
<h5>by <%= @poll.owner %></h5>

<div id="vote-buttons">
	<% @poll_options.each do |option| %>
		<button class="option-vote" data-id="<%= option.id %>"><%= option.body %></button>
	<% end %>
</div>


<div id="results-area" data-id="<%= @poll.id %>">
	<% if @poll.public %>
	<% @poll_options.each do |option| %>
		<div class="option-result" data-body="<%=option.body%>" data-votes="<%=option.votes%>">
			<strong class="result-body"><%= option.body %>:</strong> <span class="result-votes"><%= option.votes %></span>
		</div>
	<% end %>
	<% end %>
</div>
<!-- visualize the results -->

<!-- time poll closes, if any -->

